* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ellipse {
  position: relative;
  width: 375px;
  height: 375px;
  border-radius: 50%;
  background: radial-gradient(
    95.11% 95.11% at 36.64% 4.89%,
    #2ad0ca 0%,
    #e1f664 22.92%,
    #feb0fe 46.88%,
    #abb3fc 68.23%,
    #5df7a4 87.5%,
    #58c4f6 100%
  );
}

.ellipse::before,
.ellipse::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: conic-gradient(
    from 176.21deg at 50% 50%,
    #000000 -24.66deg,
    #ffffff 0.25deg,
    #000000 50.63deg,
    #000000 51.97deg,
    #ffffff 88.12deg,
    #000000 142.5deg,
    #ffffff 196.87deg,
    #000000 256.87deg,
    #ffffff 300deg,
    #000000 335.2deg,
    #000000 335.34deg,
    #ffffff 360.25deg
  );
}

.ellipse::before {
  mix-blend-mode: difference;
}
.ellipse::after {
  mix-blend-mode: screen;
}

.ellipse .noise {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/noise.png);
  background-size: cover;
  background-repeat: repeat;
  mix-blend-mode: overlay;
  z-index: 1;
}
